/*
*  html5resetcss
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 헤더 고정 영역 스타일
ctrl + c + k
*/

/* 전체 화면 스타일 */

#community-wrap{
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 3016px;
  align-items: center;
  margin: 0 auto;
  /* border: solid 4px black; */
}

/* 커뮤니티 헤더 - 전체 위치 잡음*/

#community-wrap #community-header{
  display: flex;
  flex-wrap: wrap;
  height: 151px;
  width: 1440px;
  border-bottom: solid 1px #131313;
  /* border: solid 4px black; */
}

/* 커뮤니티 헤더 - 카테고리를 제외한 로고, 로그인까지 */

#community-wrap #navigator{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  height: 94px;
}

#community-wrap .left img{
  display: flex;
  width: 236px;
  margin: 0 auto;
  height: 60px;
  justify-content: center;
  align-items: center;
}

#community-wrap .right{
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

.nav-wrap {
  width: 267px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 31px 0 0;
}



.navigator {
  /* border: solid 4px black; */
  width: 1440px;
}

.nav > ul > li{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 267px;
  height: 30px;
}

.nav > ul > li a:link{
  font-family: 'SpoqaHanSansNeo-Regular';
  color: #131313;
  text-decoration: none;
}

.nav .sector {
  color: #818181;
  height: 26px;
}

.login {
  font-size: 16px;
  line-height: 24px;
  word-spacing: -3%;
}

/* 헤더 메뉴 카테고리 */

.header-menu {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  height: 57px;
}

.header-menu .menu-category {
  display: flex;
  justify-content: flex-start;
  width: 512px;
  height: 24px;
  margin: 0 auto;
  
}

.menu-category > ul {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  width: 512px;
}

.menu-category > ul > li {
  display: flex;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #131313;
  word-spacing: -3%;
}

.menu-category > ul > li:hover {
  color: #FFC303;
}

#header-section {
  width: 1440px;
  display: flex;
  height: 30px;
}

/* 메인 배너 영역 */

.community-main-banner-wrapper{
  position: relative;
  width: 1440px;
}


.community-banner-content {
  position: absolute;
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  height: 150px;
  bottom: 0%;
  margin: 0 0 50px 50px;
  /* border: solid 4px black; */
}

.community-banner-title {
  font-weight: bold;
  font-size: 64px;
  display: block;
  line-height: 54px;
  letter-spacing: -3%;
  /* border: solid 4px black; */
  color: #FFFFFF;
}

.community-banner-small-title {
  display: block;
  font-family: 'SpoqaHanSansNeo-Regular';
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  line-height: 36px;
  letter-spacing: -3%;
  color: #FFFFFF;
  /* border: solid 4px black; */
}

.profile-wrapper {
  display: block;
  align-items: flex-start;
  /* border: solid 4px black; */
}
.profile {
  height: 40px;
  width: 89px;
  /* border: solid 4px black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile img {
  width: 40px;
  height: 40px;
}

.profile p {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: -3%;
}



/* body {
  font-family: 'SpoqaHanSansNeo-Regular';
} */

#main-banner-section {
  width: 1440px;
  height: 78px;
  display: block;
}

/* 내 게시물 작성하기 메인 카테고리 */

.community-main-post-wrapper {
  width: 1440px;
  height: 378px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: solid 4px black; */
}

.community-main-post {
  display: block;
  width: 1440px;
  height: 59px;
  justify-content: space-between;
  /* border: 4px solid black; */
}

.community-main-post-title {
  line-height: 36px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -3%;
  color: #131313;
}

.community-main-post-small-title{
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -3%;
  color: #131313;
}

.community-main-post-image-wrapper {
  margin: 19px 0 0 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  /* border: solid 4px black; */
}

.community-post-image img{
  width: 300px;
  height: 300px;
}



.community-main-post-image ul{
  width: 1440px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: solid 4px black; */
}

.community-main-post-image ul li{
  margin: 0 25px 0 0;
  
}



.community-main-post-new-image-wrapper{
  width: 300px;
  height: 300px;
  border: 2px solid #131313 inset;
  border-style: dashed;
  background-color: #F8F9FA;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-main-post-new-image {
  height: 20px;
  width: 20px;
}

.community-post-images{
  height: 300px;
  width: 300px;
}

.community-main-post-image button {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(50px);
}

.community-main-others-post-wrapper{
  display: block;
  width: 1440px;
  margin: 45px;
}

.community-others-post-title{
  line-height: 36px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -3%;
  color: #131313;
}

.community-others-post-small-title{
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -3%;
  color: #131313;
}

.main-others-post-new-image {
  width: 220px;
  height: 300px;
  border-radius: 10%;
  background-color: #F8F9FA;
  box-sizing: border-box;
  border: solid #131313 2px;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-others-post-new-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.others-post-image-wrapper {
  margin: 19px 0 0 0;
  height: 320px;
  width: 1440px;
  position: relative;

}

.others-community-image {
  width: 220px;
  height: 300px;
  position: relative;

}

.others-community-image .profile {
  position: absolute;
  left: 9px;
  bottom: 12px;
}

.ohers-post-image {
  width: 244px;
}

.others-community-image .like {
  position: absolute;
  right: 17px;
  bottom: 17px;
}

.main-others-post-new-image-box .get-my-image {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -3%;
}

/* 이미지 영역 */

.others-post-image-wrapper ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 1440px;
  height: 300px;
}


/* 포포 커뮤니티 이벤트 배너 */
.community-event-banner-wrapper {
  width: 1200px;
  height: 300px;
  display: block;
  align-items: center;
}

.community-event-banner-section {
  display: block;
  width: 1440px;
  height: 39px;
  /* border: solid 4px black; */
}

/* 포포 커뮤니티 추천 게시물 탭*/

.community-main-recommend-post-wrapper {
  width: 1440px;
  height: 541px;
  display: flex;
  flex-direction: column;
  /* border: solid 4px black; */
  justify-content: space-between;
}

.community-main-recommend-post {
  display: block;
  height: 36px;
  /* border: solid 4px black; */
}
.other-post-button {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(15px);

}

.recommend-post-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -3%;
  color: #131313;
  margin-bottom: 19px;
}



.recommend-post-image {
  position: relative;
  height: 486px;
  width: 342px;
}

.recommend-post-image .profile{
  position: absolute;
  left: 9px;
  bottom: 9px;
}


.community-main-recommend-post ul {
  width: 1440px;
  height: 486px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 4px black; */

}

.community-main-recommend-post ul li {
  width: 342px;
  height: 486px;
  /* border: solid 4px black; */
}

.community-last-section {
  height: 98px;
  display: block;
  width: 1440px;

}

.powpow-info {
  width: 1920px;
  height: 332px;
  display: block;
}



