html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: px;
  height: 300px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.swiper-slide .thumbnail {
  border-radius: 20px;
  display: block;
  width: 220px;
  height: 300px;
  object-fit: cover;
}

.swiper {
  width: 1200px;
  height: 320px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: none;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
  visibility: transparent;
}

.swiper-button-next:after, .swiper-button-prev:after{
  visibility: hidden;
}

.swiper-button-prev {
  padding-left: 25px;
}

.thumbnail {
  position: relative;
}

.profile-id-wrapper {
  width: 194px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.profile-id img {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
}

.like-buttons {
  width: 20px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.like-button {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.liked-button {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
  cursor: pointer;
}


.profile-id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
}



.profile-id-wrapper p{
  color: #FFFFFF;
  align-items: center;
}

.disable {
  display: none;
}

.enable {
  display: flex;
}
